<a href="https://colab.research.google.com/github/Vladimirsp81/hse_intrml/blob/master/%D0%94%D0%97_%D0%9D%D0%B5%D0%B4%D0%B5%D0%BB%D1%8F1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# скачиваем файл
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q' -O math_students.csv

--2020-02-09 21:18:52--  https://docs.google.com/uc?export=download&id=1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q
Resolving docs.google.com (docs.google.com)... 74.125.129.101, 74.125.129.100, 74.125.129.113, ...
Connecting to docs.google.com (docs.google.com)|74.125.129.101|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0g-5k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/t58mbcnmav20b7up3er5kmv7b7n5k63q/1581282900000/07828702499945486090/*/1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q?e=download [following]
Warning: wildcards not supported in HTTP.
--2020-02-09 21:18:52--  https://doc-0g-5k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/t58mbcnmav20b7up3er5kmv7b7n5k63q/1581282900000/07828702499945486090/*/1cq9JDz8-zwzoGL6udiT_ogHHRWdnsd1q?e=download
Resolving doc-0g-5k-docs.googleusercontent.com (doc-0g-5k-docs.googleusercontent.com)... 172.217.212.132, 2607:f8b0:4001:c03::84
Connecting to doc-0g-5k-docs.googleusercontent.com (doc-0g-5k-docs.googleusercontent.com)|172.217.212.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 42379 (41K) [text/csv]
Saving to: ‘math_students.csv’

math_students.csv   100%[===================>]  41.39K  --.-KB/s    in 0s

2020-02-09 21:18:53 (125 MB/s) - ‘math_students.csv’ saved [42379/42379]

In [0]:
import pandas as pd
data = pd.read_csv('math_students.csv', delimiter=',')

In [4]:
data.head()
data['reason'].value_counts()

course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64

1. Какая причина выбора школы была самой частой? В качестве ответа приведите соответствующее значение признака.

In [0]:
course

2. Найдите количество студентов, у родителей которых нет никакого образования.

In [19]:
data[(data['Medu'] == 0) | (data['Fedu'] == 0)].shape[0]

5

3. Найдите минимальный возраст учащегося школы Mousinho da Silveira.

In [21]:
data[data['school'] == 'MS'].describe()

             age       Medu       Fedu  ...         G1         G2         G3
count  46.000000  46.000000  46.000000  ...  46.000000  46.000000  46.000000
mean   18.021739   2.347826   2.282609  ...  10.673913  10.195652   9.847826
std     0.881643   1.215043   1.128678  ...   3.347001   3.377175   4.237229
min    17.000000   1.000000   1.000000  ...   6.000000   5.000000   0.000000
25%    17.250000   1.000000   1.000000  ...   8.000000   8.000000   8.000000
50%    18.000000   2.000000   2.000000  ...  10.500000  10.000000  10.000000
75%    18.000000   3.000000   3.000000  ...  13.000000  12.750000  12.750000
max    21.000000   4.000000   4.000000  ...  19.000000  18.000000  19.000000

[8 rows x 16 columns]

4. Найдите количество студентов, имеющих нечетное число пропусков.

In [24]:
data[(data['absences'] % 2) !=0].shape[0]

41

5. Найдите разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. В качестве ответа приведите число, округленное до двух значащих цифр после запятой.

In [36]:
romantic = data[data['romantic'] == 'yes']
non_romantic = data[data['romantic'] == 'no']
romantic_mean = romantic['G3'].mean()
non_romantic_mean = non_romantic['G3'].mean()
residual = romantic_mean - non_romantic_mean
print(residual)

-1.2607443253831079

6. Сколько занятий пропустило большинство студентов с самым частым значением наличия внеклассных активностей?

*Примечание. В данном контексте под "большинством" подразумеваются студенты, имеющее самое частое значение пропусков. То есть в данном задании необходимо:*


* *Определить самое частое значение наличия внеклассных активностей (да или нет).*
* *Для группы студентов, соответствующей этому значению, рассмотреть значения признака «число пропусков».*
* *Для каждого значения числа пропусков посчитать, сколько студентов ему соответствует.*
* *Выбрать значение числа пропусков с наибольшим числом студентов.*

In [35]:
data['activities'].value_counts()
active_stud = data[data['activities'] == 'yes']
active_stud['absences'].value_counts()

0     51
2     37
4     29
6     17
8     16
10     9
14     7
3      4
16     4
7      3
12     3
15     3
11     2
9      2
18     2
20     2
1      2
13     1
54     1
17     1
5      1
22     1
25     1
30     1
56     1
Name: absences, dtype: int64

In [0]:
0